@model VideoGame 
@{
}

@if (Model == null)
{
    <h1>No Game Provided</h1>
}
else
{
    
    <div class='@( (Model.LoanDate != null && !string.IsNullOrEmpty(Model.LoanedTo)) ? "videogame-container rented" : "videogame-container")' >
        <div class="videogame-info">
            <div class="text-center">
                <h3>@Model.Title</h3>
                <p>@Model.Year</p>

                <table>
                    <tbody>
                        <tr>
                            <td>Genre:</td>
                            <td>@Model.Genre</td>
                        </tr>
                        <tr>
                            <td>Platform:</td>
                            <td>@Model.Platform</td>
                        </tr>
                        <tr>
                            <td>Rating:</td>
                            <td>@Model.EsrbRating</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="loan-section">
                @if (Model.LoanDate != null && !string.IsNullOrEmpty(Model.LoanedTo))
                {

                    <h5>Loaned By:</h5>
                    <div>
                        <p>@Model.LoanedTo</p>
                        <p>@Model.LoanDate.ToShortDateString()</p>
                    </div>

                }
                else
                {
                    <button class="btn btn-purple btn-center" data-toggle="modal" data-target="#rentModal" data-game="@Model.Title" data-gameID="@Model.ID">Rent Game</button>
                }
            </div>
        </div>
    <img draggable="false" src="@Model.ImgSrc" placeholder="@Model.Title" />
</div>
}
